{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="slides slide1">
            <h2>PRIYANKA K. SOE</h2>
        </div>
        <div class="slides slide2">
            <h2>into the mind...</h2>
        </div>
        <div class="slides slide3">
            <h2>PROJECTS</h2>
            <ul>
                <div class="item">
                    <h3>Project 1</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="item">
                    <h3>Project 2</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="item">
                    <h3>Project 3</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </ul>
        </div>
        <div class="slides slide4">
            <h2>PASSIONS</h2>
        </div>
        <div class="slides slide5">
            <h2>WORDS</h2>
        </div>
    </div>
{% endblock %}
